<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2PwJtMipqQMVvlZpnsm_JcVUW97F7EBOY8Q&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body"> 
                          <h5 class="card-title">Sample Name....</h5>
                          <p class="card-text">Sample id....</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2PwJtMipqQMVvlZpnsm_JcVUW97F7EBOY8Q&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body"> 
                          <h5 class="card-title">Sample Name....</h5>
                          <p class="card-text">Sample id....</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2PwJtMipqQMVvlZpnsm_JcVUW97F7EBOY8Q&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body"> 
                          <h5 class="card-title">Sample Name....</h5>
                          <p class="card-text">Sample id....</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2PwJtMipqQMVvlZpnsm_JcVUW97F7EBOY8Q&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body"> 
                          <h5 class="card-title">Sample Name....</h5>
                          <p class="card-text">Sample id....</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2PwJtMipqQMVvlZpnsm_JcVUW97F7EBOY8Q&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body"> 
                          <h5 class="card-title">Sample Name....</h5>
                          <p class="card-text">Sample id....</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
